# Core FastAPI & Server
fastapi==0.115.12
typing-extensions==4.14.1
uvicorn[standard]==0.34.0
python-multipart==0.0.22
python-dotenv==1.2.2

# Database
sqlalchemy==2.0.39

# Security & Validation
pydantic==2.13.0b2
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.5.0
email-validator==2.2.0

# LLM & AI API calls
langchain==0.3.21
langchain-huggingface==0.1.2
huggingface_hub==0.29.3